<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <!-- production version, optimized for size and speed -->
  <script src="js/vue.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body >
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col text-center my-3">
          <h1 class="text-bold text-uppercase">The fight</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img :src="oponent_1_pic" class="img-fluid"/>
          <h2>{{ oponent_1 }} ({{monsterHealth}})</h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar" v-bind:style="{width: monsterHealth + '%'}" aria-valuenow="{{monsterHealth}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <img :src="oponent_2_pic" class="img-fluid"/>
          <h2>{{ oponent_2 }} ({{robotHealth}})</h2>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: robotHealth + '%'}" aria-valuenow="{{monsterHealth}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>

      <div v-if="winner" class="row">
        <div class="col-sm-12 text-center">
          <h3 class="mt-5 text-uppercase text-primary">{{winner}} Wins!</h3>
        </div>
      </div>

      <div v-if="gameIsRunning" class="row justify-content-md-center">
        <div class="col-sm-12 text-center mb-3">
          <button id="attack" @click="attack" type="button" class="btn btn-danger mt-5">Atack</button>
          <button id="super-attack" @click="superAttack" type="button" class="btn btn-warning mt-5">Super Atack</button>
          <button id="heal" @click="heal" type="button" class="btn btn-success mt-5">Heal</button>
          <button id="give-up" @click="giveUp" type="button" class="btn btn-dark mt-5">Give Up</button>
        </div>
        <div class="col-sm-6 text-center" v-if="turns.length > 0">
          <hr />
          <h4 class="mt-5 text-uppercase mb-3">Status</h4>
          <template v-for="turn in turns">
            <div v-if="turn.isRobot ==  'Robot'">
              <p class='text-success'>{{turn.text}}</p>
            </div>
            <div v-if="turn.isMonster ==  'Monster'">
              <p class='text-primary'>{{turn.text}}</p>
            </div>
          </template>
        </div>
      </div>
      <div v-else class="row justify-content-md-center">
        <div class="col-sm-3 text-center">
          <button id="start-game" @click="startGame"  type="button" class="btn btn-primary btn-block btn-lg mt-5">Start Game</button>
        </div>
      </div>
    </div>
  </div>
  <script src="js/scripts.js"></script>
</body>
</html>
